
CardSharp.xcodeproj/project.pbxproj

CardSharp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CardSharp.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/UserInterfaceState.xcuserstate

CardSharp.xcodeproj/xcuserdata/rob.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CardSharp.xcodeproj/xcuserdata/rob.xcuserdatad/xcschemes/CardSharp.xcscheme

CardSharp.xcodeproj/xcuserdata/rob.xcuserdatad/xcschemes/xcschememanagement.plist

CardSharp.xcodeproj/project.pbxproj

CardSharp.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/WorkspaceSettings.xcsettings
